        *{
            padding: 0px;
            margin: 0px;
        }
        body{
            background-color: #F4CA41;
            display: flex;
            height: 100vh;
            font-family: 'Inter', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        }
        div{
            flex-wrap: wrap;
            background-color: white;
            height: 460px;
            width: 300px;
            border-radius: 20px;
            box-shadow: 4px 4px 0px 5px rgb(2, 2, 2);
            margin: auto;
            padding: 20px;
        }
        .em{
            border-radius: 10px;
            width: 300px;
        }
        h3{
            margin-top: 20px;
            text-align: center;
            background-color: #FCD63E;
            width: 80px;
            padding: 10px ;
            border-radius: 4px;
            font-size: 12px;
        }
        .pi{
            margin-top: 15px;
            font-size: 12px;
        }
        h2{
            margin-top: 20px;
            font-size: 20px bold;
        }
        .po{
            margin-top: 20px;
            color: #6B6B6B;
            font-size: 14px;
        }
        .im{
            position: relative;
            top: 15px;
            right: 10px;
            height: 40px;
            width: 40px;
            border-radius: 20px;
        }
        h4{
            margin-left: 10px;
        }